# Aiven MySQL database connection URL
DATABASE_URL="mysql://avnadmin:YOUR_PASSWORD@YOUR_HOST:12551/defaultdb"

# NextAuth / Auth secret
NEXTAUTH_SECRET="finiq-secret-key-32-chars-minimum-token"
NEXTAUTH_URL="http://localhost:3000"

# Demo User ID for single-tenant local seeding
DEMO_USER_ID="default-user-uuid-1"

# Base currency setting (Default IDR)
NEXT_PUBLIC_DEFAULT_CURRENCY="IDR"
