# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
.next/
out/
build/
dist/

# Local databases
*.db
!finiq.db
*.db-journal
*.sqlite
*.sqlite-journal

# Local Environment Variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel & Turbopack cache
.vercel
.turbo
*.tsbuildinfo

# OS & Editor
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/
